@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

html, body{
    font-family: 'AppleSDGothicNeo', sans-serif;
    margin: 0 auto;
    padding: 0;
    -ms-overflow-style: none;
    background-color: #f9f9f9;
    user-select:none;
    cursor : grab ;
}

html, body:active{
    cursor : grabbing ;
}
html::-webkit-scrollbar {
    display: none;
    }

.mainBox{
    height:150vmax;
}

.leftPer{
    position:relative;
    top:0vmax;
    width:100vmax;height:150vmax;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.720, 0.010, 0.275, 0.995);
}

.leftPer::-webkit-scrollbar {
    display: none;
}

.perImg{
    width: 100vmax;
    height: 50vmax;
    display: flex;
    justify-content:left;
    align-items: center;
}

.perImg2{
    width: 100vmax;
    height: 50vmax;
    display: flex;
    justify-content:center;
    align-items: center;
}

#upBar{
    z-index: 999;
    display: flex;
    position: fixed;
    width: 100vmax;
    height: 7vmax;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);

}
#line{
    height: 0.1vmax;
    width:35%;
    background-color: black;
}


.rightPer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0);
}

.vmW-5{width: 5vmax;}
.vmW-10{width: 10vmax;}
.vmW-15{width: 15vmax;}
.vmW-20{width: 20vmax;}
.vmW-25{width: 25vmax;}
.vmW-30{width: 30vmax;}
.vmW-40{width: 40vmax;}
.vmW-50{width: 50vmax;}
.vmW-60{width: 60vmax;}
.vmW-70{width: 70vmax;}
.vmW-80{width: 80vmax;}
.vmW-90{width: 90vmax;}
.vmW-100{width: 100vmax;}

.vmH-4{height: 4vmax;}
.vmH-5{height:  5vmax;}
.vmH-8{height:  8vmax;}
.vmH-10{height: 10vmax;}
.vmH-15{height: 15vmax;}
.vmH-20{height: 20vmax;}
.vmH-25{height: 25vmax;}
.vmH-30{height: 30vmax;}
.vmH-40{height: 40vmax;}
.vmH-45{height: 45vmax;}
.vmH-50{height: 50vmax;}
.vmH-60{height: 60vmax;}
.vmH-70{height: 70vmax;}
.vmH-80{height: 80vmax;}
.vmH-82{height: 82vmax;}
.vmH-90{height: 90vmax;}
.vmH-100{height: 100vmax;}
.vmH-200{height: 200vmax;}
.vmH-300{height: 300vmax;}


/* --------------- 0~100 이미지 ----------------*/

#LOGO{
    width: 14vmax;
    height: 5vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/LOGO.png);
}

#lotto{
    transition: 1s;
    transition-timing-function: cubic-bezier(0.720, 0.010, 0.275, 0.995);
    position: fixed;
    top:40%;
    left:75%;
    width: 15vmax;
    height: 15vmax;
    transform: scale(1);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/lotto02.png);
}

#lottoBar{
    position: fixed;
    top:40%;
    right:0.8%;
    width: 2vmax;
    height: 20vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    display: inline;
}
#rightBtn {
    background-color: blue;
    margin: 1vmax;
    padding: -1vmax;
    justify-content: space-around;
    align-items: center;

}
#lottoPer{
    position: relative;
    font-size: 1vmax;
}


.drink{
    width: 25vmax;
    height: 25vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/drink.png);
}

#per_cursor { z-index: 999; position: absolute; width:20vmax; height:8vmax; }

img{
    width: 20vmax;
    object-fit: cover;
}


.thunder{
    transform: scale(1.3);
    width: 17vmax;
    height: 17vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/thunder.png);
}

.shell{
    transform: scale(1.4);
    width: 25vmax;
    height: 15vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/shell.png);
}

.clover{
    width: 35vmax;
    height: 35vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/clover.png);
}

.egg{
    width: 55vmax;
    height: 35vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/egg.png);
}

.blueMoon{
    width: 37vmax;
    height: 37vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/blueMoon.png);
}

.ball{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/ball.png);
}

.ramen{
    width: 45vmax;
    height: 45vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/ramen.png);
    transform: scale(1.7) translate(5vmax, 2vmax);
}

.paper{

    width: 70vmax;
    height: 75vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/paper.png);
    transform: scale(1.5) translate(-5vmax, 5vmax);
}

.rock{
    transform: translateX( 20vmax );
    width: 75vmax;
    height: 75vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/rock.png);
    transform: scale(1.3) translate(-3vmax, 5vmax);
}

.seoul{
    width: 60vmax;
    height: 60vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/seoul.png);
    transform: scale(1.1) translate(0vmax, 8vmax) rotate(30deg);
}

.hand{
    width: 75vmax;
    height: 75vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/hand.png);
    transform: scale(1.3) translate(-3vmax, 0vmax);
}

.wood{
    width: 120vmax;
    height: 90vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/wood.png);
    transform:  translate(-13vmax, 2vmax);
}

.dice{
    width: 65vmax;
    height: 65vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/dice.png);
    transform:scale(1.5) translate(-2vmax, 5vmax);
}

.coin{
    width: 100vmax;
    height: 100vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/coin.png);
    transform:scale(1.5) translate(-8vmax, 18vmax);
}

.cancer{
    justify-content: center;
    align-items: center;
    width: 95vmax;
    height: 95vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/cancer.png);
    transform:scale(1.5) translate(-12vmax, 11vmax);
}

.faker{
    justify-content:left;
    align-items: center;
    width: 110vmax;
    height: 90vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/faker.png);
    transform:rotate(10deg) scale(1) translate(-5vmax, 15vmax);
}

.noLotto1{
    justify-content:left;
    align-items: center;
    width: 110vmax;
    height: 90vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/noLotto1.png);
    transform:scale(1.2) translate(-6vmax, 10vmax) ;
}

.noLotto2{
    transform: scale(1.3);
    justify-content:left;
    align-items: center;
    width: 90vmax;
    height: 50vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/noLotto2.png);
    transform:scale(1.2) translate(24vmax, 3vmax) ;
    
}

.noLotto3{
    transform: scale(1.3);
    justify-content:left;
    align-items: center;
    width: 90vmax;
    height: 90vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/noLotto3.png);
    transform:scale(0.5) translate(0vmax, 3vmax) ;
    
}

.noLotto4{
    transform: scale(1.3);
    justify-content:center;
    align-items: center;
    width: 120vmax;
    height: 100vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/FF/noLotto4.png);
    transform:scale(1.2) translate(0vmax, 50vmax) ;
    z-index: 998;
    
}

.copyright{
    position: absolute;
    bottom: -200px;
    font-size: 0.8vmax;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    width: 20vmax;
    height: 10vmax;
    background-color:#f9f9f9;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}

.copyrightCover{
    width: 100%;
    z-index: 999;
    height: 20vmax;
    position : relative;
    transform : translateY(30%);
    display: flex;
    justify-content: center;
}


.blank50{
    width: 50vmax;
    height: 50vmax;
}
.blank20{
    width: 20vmax;
    height: 20vmax;
}
.blank10{
    width: 10vmax;
    height: 10vmax;
}

/* --------------- [호버] 0~100 이미지 ----------------*/









/* ------------당첨 안될 이미지 ----------------*/
#noLotto{
    width: 100vmax;
    height: 100vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/final/ll.png);
    z-index: 900;
}


.noLotto01{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto01.png);
}
.noLotto02{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto02.png);
}
.noLotto03{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto03.png);
}
.noLotto04{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto04.png);
}
.noLotto05{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto05.png);
}
.noLotto06{
    width: 40vmax;
    height: 40vmax;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/noLotto/noLotto06.png);
}

